schema/rng/LaTeXML-para.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  /=====================================================================\ 
  |  LaTeXML-para.rnc                                                   |
  | RelaxNG model for LaTeXML generated documents                       |
  |=====================================================================|
  | Part of LaTeXML:                                                    |
  |  Public domain software, produced as part of work done by the       |
  |  United States Government & not subject to copyright in the US.     |
  |=====================================================================|
  | Bruce Miller <bruce.miller@nist.gov>                        #_#     |
  | http://dlmf.nist.gov/LaTeXML/                              (o o)    |
  \=========================================================ooo==U==ooo=/
-->
<grammar ns="http://dlmf.nist.gov/LaTeXML" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="Para.class" combine="interleave">
    <a:documentation>This module defines the following `logical' block elements.</a:documentation>
    <interleave>
      <zeroOrMore>
        <ref name="para"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="theorem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="proof"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="figure"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="table"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="float"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="listing"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="pagination"/>
      </zeroOrMore>
    </interleave>
  </define>
  <!-- allow pagination here, to avoid unnecessary extra para! -->
  <define name="Misc.class" combine="interleave">
    <a:documentation>Additionally, it defines these miscellaneous elements that can appear
in both inline and block contexts.</a:documentation>
    <zeroOrMore>
      <ref name="inline-para"/>
    </zeroOrMore>
  </define>
  <!-- ====================================================================== -->
  <define name="para">
    <element name="para">
      <a:documentation>A Logical paragraph. It has an \attr{id}, but not a \attr{label}.</a:documentation>
      <interleave>
        <ref name="para_attributes"/>
        <ref name="para_model"/>
      </interleave>
    </element>
  </define>
  <define name="para_attributes">
    <a:documentation>Attributes for \elementref{para}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="ID.attributes"/>
      <ref name="Backgroundable.attributes"/>
    </interleave>
  </define>
  <define name="para_model">
    <a:documentation>Content model for \elementref{para}.</a:documentation>
    <ref name="Block.model"/>
  </define>
  <!-- ====================================================================== -->
  <define name="inline-para">
    <element name="inline-para">
      <a:documentation>An inline para. Actually, can appear in inline or block mode, but
typesets its contents as para.</a:documentation>
      <interleave>
        <ref name="inline-para_attributes"/>
        <ref name="inline-para_model"/>
      </interleave>
    </element>
  </define>
  <define name="inline-para_attributes">
    <a:documentation>Attributes for \elementref{inline-para}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="ID.attributes"/>
      <ref name="Positionable.attributes"/>
      <ref name="Backgroundable.attributes"/>
    </interleave>
  </define>
  <define name="inline-para_model">
    <a:documentation>Content model for \elementref{inline-para}.</a:documentation>
    <ref name="Para.model"/>
  </define>
  <!-- ====================================================================== -->
  <define name="theorem">
    <element name="theorem">
      <a:documentation>A theorem or similar object. The \attr{class} attribute can be used to distinguish
different kinds of theorem.</a:documentation>
      <interleave>
        <ref name="theorem_attributes"/>
        <ref name="theorem_model"/>
      </interleave>
    </element>
  </define>
  <define name="theorem_attributes">
    <a:documentation>Attributes for \elementref{theorem}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Backgroundable.attributes"/>
    </interleave>
  </define>
  <define name="theorem_model">
    <a:documentation>Content model for \elementref{theorem}.</a:documentation>
    <interleave>
      <optional>
        <ref name="title"/>
      </optional>
      <ref name="Para.model"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="proof">
    <element name="proof">
      <a:documentation>A proof or similar object. The \attr{class} attribute can be used to distinguish
different kinds of proof.</a:documentation>
      <interleave>
        <ref name="proof_attributes"/>
        <ref name="proof_model"/>
      </interleave>
    </element>
  </define>
  <define name="proof_attributes">
    <a:documentation>Attributes for \elementref{proof}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Backgroundable.attributes"/>
    </interleave>
  </define>
  <define name="proof_model">
    <a:documentation>Content model for \elementref{proof}.</a:documentation>
    <interleave>
      <optional>
        <ref name="title"/>
      </optional>
      <ref name="Para.model"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="Caption.class">
    <a:documentation>These are the additional elements representing figure and
table captions.
NOTE: Could title sensibly be reused here, instead?
Or, should caption be used for theorem and proof?</a:documentation>
    <choice>
      <ref name="caption"/>
      <ref name="toccaption"/>
    </choice>
  </define>
  <!-- ====================================================================== -->
  <define name="figure">
    <element name="figure">
      <a:documentation>A  figure, possibly captioned.</a:documentation>
      <interleave>
        <ref name="figure_attributes"/>
        <ref name="figure_model"/>
      </interleave>
    </element>
  </define>
  <define name="figure_attributes">
    <a:documentation>Attributes for \elementref{figure}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Positionable.attributes"/>
      <ref name="Transformable.attributes"/>
      <ref name="Backgroundable.attributes"/>
      <optional>
        <attribute name="placement">
          <a:documentation>the vertical floating placement parameter that determines where the object is displayed.</a:documentation>
        </attribute>
      </optional>
    </interleave>
  </define>
  <define name="figure_model">
    <a:documentation>MiKo: only allowing one caption, is this right? same for table, float, and listing below
Content model for \elementref{figure}.</a:documentation>
    <interleave>
      <zeroOrMore>
        <ref name="figure"/>
      </zeroOrMore>
      <ref name="Block.model"/>
      <ref name="Caption.class"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="table">
    <element name="table">
      <a:documentation>A  Table, possibly captioned. This is not necessarily a \elementref{tabular}.</a:documentation>
      <interleave>
        <ref name="table_attributes"/>
        <ref name="table_model"/>
      </interleave>
    </element>
  </define>
  <define name="table_attributes">
    <a:documentation>Attributes for \elementref{table}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Positionable.attributes"/>
      <ref name="Transformable.attributes"/>
      <ref name="Backgroundable.attributes"/>
      <optional>
        <attribute name="placement">
          <a:documentation>the vertical floating placement parameter that determines where the object is displayed.</a:documentation>
        </attribute>
      </optional>
    </interleave>
  </define>
  <define name="table_model">
    <a:documentation>Content model for \elementref{table}.</a:documentation>
    <interleave>
      <zeroOrMore>
        <ref name="table"/>
      </zeroOrMore>
      <ref name="Block.model"/>
      <ref name="Caption.class"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="float">
    <element name="float">
      <a:documentation>A generic float, possibly captioned, something other than a table, figure or listing</a:documentation>
      <interleave>
        <ref name="float_attributes"/>
        <ref name="float_model"/>
      </interleave>
    </element>
  </define>
  <define name="float_attributes">
    <a:documentation>Attributes for \elementref{float}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Positionable.attributes"/>
      <ref name="Transformable.attributes"/>
      <ref name="Backgroundable.attributes"/>
      <optional>
        <attribute name="placement">
          <a:documentation>the vertical floating placement parameter that determines where the object is displayed.</a:documentation>
        </attribute>
      </optional>
    </interleave>
  </define>
  <define name="float_model">
    <a:documentation>Content model for \elementref{float}.</a:documentation>
    <interleave>
      <zeroOrMore>
        <ref name="float"/>
      </zeroOrMore>
      <ref name="Block.model"/>
      <ref name="Caption.class"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="listing">
    <element name="listing">
      <a:documentation>A Listing, possibly captioned.</a:documentation>
      <interleave>
        <ref name="listing_attributes"/>
        <ref name="listing_model"/>
      </interleave>
    </element>
  </define>
  <define name="listing_attributes">
    <a:documentation>Attributes for \elementref{listing}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Labelled.attributes"/>
      <ref name="Positionable.attributes"/>
      <ref name="Backgroundable.attributes"/>
      <optional>
        <attribute name="placement">
          <a:documentation>the floating placement parameter that determines where the object is displayed.</a:documentation>
        </attribute>
      </optional>
    </interleave>
  </define>
  <define name="listing_model">
    <a:documentation>Content model for \elementref{listing}.</a:documentation>
    <interleave>
      <ref name="Block.model"/>
      <ref name="Caption.class"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="caption">
    <element name="caption">
      <a:documentation>A caption for a \elementref{table} or \elementref{figure}.</a:documentation>
      <interleave>
        <ref name="caption_attributes"/>
        <ref name="caption_model"/>
      </interleave>
    </element>
  </define>
  <define name="caption_attributes">
    <a:documentation>Attributes for \elementref{caption}.</a:documentation>
    <interleave>
      <ref name="Common.attributes"/>
      <ref name="Fontable.attributes"/>
      <ref name="Colorable.attributes"/>
      <ref name="Backgroundable.attributes"/>
    </interleave>
  </define>
  <define name="caption_model">
    <a:documentation>Content model for \elementref{caption},
basically Inline.model with tag included (normally, but not necessarily, tag would come first).</a:documentation>
    <interleave>
      <zeroOrMore>
        <ref name="tag"/>
      </zeroOrMore>
      <zeroOrMore>
        <text/>
      </zeroOrMore>
      <ref name="Inline.class"/>
      <ref name="Misc.class"/>
      <ref name="Meta.class"/>
    </interleave>
  </define>
  <!-- ====================================================================== -->
  <define name="toccaption">
    <element name="toccaption">
      <a:documentation>A short form of \elementref{table} or \elementref{figure} caption,
used for lists of figures or similar.</a:documentation>
      <interleave>
        <ref name="toccaption_attributes"/>
        <ref name="toccaption_model"/>
      </interleave>
    </element>
  </define>
  <define name="toccaption_attributes">
    <a:documentation>Attributes for \elementref{toccaption}.</a:documentation>
    <ref name="Common.attributes"/>
  </define>
  <define name="toccaption_model">
    <a:documentation>MiKo: here we allowed multiple tags, but now we can restrict, do we want that?
Content model for \elementref{toccaption}.</a:documentation>
    <interleave>
      <text/>
      <ref name="Inline.class"/>
      <ref name="Misc.class"/>
      <ref name="Meta.class"/>
      <zeroOrMore>
        <ref name="tag"/>
      </zeroOrMore>
    </interleave>
  </define>
</grammar>
<!-- ====================================================================== -->
