schema/rng/xhtml-base.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- Base Module -->
  <define name="base">
    <element name="base">
      <ref name="base.attlist"/>
    </element>
  </define>
  <define name="base.attlist">
    <attribute name="href">
      <ref name="URI.datatype"/>
    </attribute>
  </define>
  <define name="head.content" combine="interleave">
    <optional>
      <ref name="base"/>
    </optional>
  </define>
</grammar>
